
<table>
  <tr>
    <td>name</td>
  </tr>
  <% @cats.each do |cat| %>
    <tr>
      <td><%= cat.title%></td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <td>task</td>
    <td>finished</td>
  </tr>
  <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.task%></td>
      <td><%= todo.finished%></td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <td>username</td>
    <td>email</td>
    <td>age</td>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username%></td>
      <td><%= user.email%></td>
      <td><%= user.age%></td>
    </tr>
  <% end %>
</table>